body {
    background-color: black;
    font-family: 'Ubuntu', sans-serif;
    background: url(./images/background.jpg) no-repeat center center fixed;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.logo {
    display: flex;
    justify-content: center;
}

.logo img.image {
    width: 75%;
}

.logo:hover img.image {
    display: none;
}

.logo img.hover {
    display: none;
}

.logo:hover img.hover {
    display: block;
}



@keyframes nextPage {
    animation: 2s ease 1s;
    animation: translate(-40%, -30%) scale(.40, .40);
    animation-fill-mode: forward;
}